%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        © 
        = Time.now.year
        GoTuts
        .row
        .fa.fa-envelope
        = mail_to 'support@gotuts-crisman.herokuapp.com'
        .row
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to 'Teach on GoTuts', new_course_path
%br 